.panel-heading{
    border-bottom: 1px solid #000;
}

.panel{
    background-color: #fff;
    border-radius: 5px;
    margin-bottom:10px;
}
.all-cmt {
    border: 2px solid lightgray;
    width: 80%;
    margin: auto;
  }
  .cmt {
    border: 1px solid lightgray;
    width: 95%;
    margin: auto;
    background-color: lightblue;
    border-radius: 6px;
    padding: 2%;
  }
  
  #comment_form {
    padding: 2%;
  }
  .col-lg-12{
    padding-left: 0 !important;
    padding-right:0 !important;
  }
  .panel-heading {
    padding: 1%;
  }
  .panel-body {
    padding: 1%;
  }
  .panel-footer {
    padding: 1%;
  }
  
  
  .navbar{
    border-bottom: 0 !important;
  }
  